.aaa{
    border-radius: 20px;
    
    width: 310px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
   }
   *{
    background-color: rgb(175, 207, 238);
  text-align: center;
  
  
}